<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de EPIs - Home</title>
    
</head>
<body>
    <header>
        <h1>Bem-vindo ao Sistema de Gestão de EPIs</h1>
        <nav>
            <ul>
        
                
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Sobre o Sistema</h2>
            <p>Este sistema permite gerenciar os Equipamentos de Proteção Individual (EPIs) da sua organização, garantindo controle e segurança.</p>
        </section>
        <section>
            <h2>Funcionalidades</h2>
            <ul>
                <li>Adicionar Colaborador</li>
                <form action="{% url 'adicionar_colaborador' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="nome" placeholder="Nome do Colaborador" required>
                    <button type="submit">Adicionar</button>
                </form>
                <li>Cadastro e gerenciamento de EPIs</li>
                <li>Relatórios detalhados</li>
                <li>Controle de distribuição</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Gestão de EPIs. Todos os direitos reservados.</p>
    </footer>
</body>
</html>